## Analiza danych ZTKAD - kody pomocnicze - czyszczenie danych

In [ ]:
## Tworzenie listy województw dla terytu w tabeli

In [14]:
# Create a list of Polish voivodeship names
voivodeships = ["dolnośląskie", "kujawsko-pomorskie", "lubelskie", "lubuskie", "łódzkie", "małopolskie",
                "mazowieckie", "opolskie", "podkarpackie", "podlaskie", "pomorskie", "śląskie", "świętokrzyskie",
                "warmińsko-mazurskie", "wielkopolskie", "zachodniopomorskie"]

# Initialize the ID variable
id = 2

# Print the table header
#print("{:>3s} | {:^20s}".format("ID", "Voivodeship"))
#print("-------------------------")

# Print the table rows
for v in voivodeships:
    print("{:>3s}  '{}'".format(str(id).zfill(2), v))  # Add quotes around the voivodeship name
    id += 2  # Increment the ID by 2 for each voivodeship

 02  'dolnośląskie'
 04  'kujawsko-pomorskie'
 06  'lubelskie'
 08  'lubuskie'
 10  'łódzkie'
 12  'małopolskie'
 14  'mazowieckie'
 16  'opolskie'
 18  'podkarpackie'
 20  'podlaskie'
 22  'pomorskie'
 24  'śląskie'
 26  'świętokrzyskie'
 28  'warmińsko-mazurskie'
 30  'wielkopolskie'
 32  'zachodniopomorskie'

## Szukanie duplikatów w terycie. Dla danych przekrojowych z wielu lat sprawdza, które wiersze są powielone.

In [10]:
import pandas as pd

# Load the CSV file into a DataFrame, set seprator and keep leading zero.
df = pd.read_csv("data.csv", sep=";",dtype={"kod": str})
column_name = "kod"
# Keep as string
df[column_name] = df[column_name].astype(str)

# Create a new column that contains the fir,t 6 digits of the "kod" column
df['first_six_digits'] = df['kod'].str[:6]

# Check for duplicates in the "first_six_digits" column
duplicates = df[df.duplicated(['first_six_digits'])]

# Print the duplicate rows
print(duplicates.to_string())
duplicates.to_csv('duplikaty_gus_teryt.csv', index=False)

          kod                     nazwa og-2019       og-2020       og-2021 bib-2019    bib-2020    bib-2021 osob-2019 osob-2020 osob-2021  typ_gminy  wojweództwo first_six_digits
148   0224033  Kamieniec Ząbkowicki (3)       -             -  4 655 778,05        -           -        0,00         -         -    609,40          3            2           022403
339   0602063                 Goraj (3)       -             -    693 625,45        -           -  150 000,00         -         -    175,29          3            6           060206
403   0608053              Kamionka (3)       -             -  1 042 440,77        -           -  399 807,49         -         -    161,37          3            6           060805
641   1004063                Piątek (3)       -    226 464,60    266 623,55        -   89 500,00  100 000,00         -     39,07     46,75          3           10           100406
765   1018043               Lututów (3)       -    703 000,00    750 985,00        -  175 000,00  164 000,00         -    151,44    162,80          3           10           101804
1040  1409063       Solec nad Wisłą (3)       -             -    587 672,32        -           -   68 499,99         -         -    126,06          3           14           140906
1141  1420043   Czerwińsk nad Wisłą (3)       -    363 372,20    297 400,00        -  238 000,00  272 000,00         -     49,44     40,76          3           14           142004
1149  1420113              Sochocin (3)       -             -    675 039,53        -           -  195 500,00         -         -    117,34          3           14           142011
1284  1438053              Wiskitki (3)       -             -  1 058 928,37        -           -  269 378,19         -         -    104,73          3           14           143805
1453  1813023              Dubiecko (3)       -             -    715 261,52        -           -  150 400,00         -         -     80,38          3           18           181302
1947  2602093             Wodzisław (3)       -             -    832 091,72        -           -  289 118,00         -         -    126,77          3           26           260209
2002  2609033             Klimontów (3)       -  1 090 210,30  2 235 286,32        -  318 055,77  389 976,63         -    141,35    292,31          3           26           260903
2152  3001023                Budzyń (3)       -             -  2 539 078,92        -           -  400 000,00         -         -    302,56          3           30           300102
2195  3007053              Koźminek (3)       -             -    559 811,13        -           -  257 000,00         -         -     75,78          3           30           300705

In [ ]:
Lista terytów dla województw.

 02  'dolnośląskie'
 04  'kujawsko-pomorskie'
 06  'lubelskie'
 08  'lubuskie'
 10  'łódzkie'
 12  'małopolskie'
 14  'mazowieckie'
 16  'opolskie'
 18  'podkarpackie'
 20  'podlaskie'
 22  'pomorskie'
 24  'śląskie'
 26  'świętokrzyskie'
 28  'warmińsko-mazurskie'
 30  'wielkopolskie'
 32  'zachodniopomorskie'

## Szukanie i złączanie plików.Znajduje dupilkaty, ale usuwa nowsze

In [21]:
import pandas as pd

# Load the CSV file into a DataFrame, set seprator and keep leading zero.
df = pd.read_csv("data.csv", sep=";",dtype={"kod": str})
column_name = "kod"
# Keep as string
df[column_name] = df[column_name].astype(str)

# Create a new column that contains the fir,t 6 digits of the "kod" column
df['first_six_digits'] = df['kod'].str[:6]

# Group the rows by the "first_six_digits" column and apply the "first" aggregation function
# to the other columns to combine their values
df = df.groupby(['first_six_digits'], as_index=False).first()

# Print the resulting DataFrame
print(df)
df.to_csv('wyczyszczony_gus_teryt.csv', index=False)

     first_six_digits      kod             nazwa        og-2019  \
0              020101  0201011   Bolesławiec (1)   8 562 213,65
1              020102  0201022   Bolesławiec (2)   7 716 716,47
2              020103  0201032      Gromadka (2)   1 547 047,35
3              020104  0201043  Nowogrodziec (3)   2 855 493,33
4              020105  0201052    Osiecznica (2)   3 508 491,06
...               ...      ...               ...            ...
2472           321804  3218043         Resko (3)   3 739 669,74
2473           321805  3218053     Węgorzyno (3)   1 849 870,09
2474           326101  3261011      Koszalin (1)  27 123 909,65
2475           326201  3262011      Szczecin (1)  89 013 307,27
2476           326301  3263011   Świnoujście (1)   8 702 225,66

            og-2020        og-2021       bib-2019       bib-2020  \
0      7 352 370,02  10 342 327,41   1 946 230,00   2 059 879,00
1      4 061 592,75   5 666 783,27           0,00           0,00
2      1 507 996,70   1 445 658,97           0,00           0,00
3      2 953 892,10   2 009 424,41     344 000,00     497 000,00
4      1 123 001,82     792 804,20     330 000,00     290 000,00
...             ...            ...            ...            ...
2472   1 379 752,27   1 481 552,68           0,00           0,00
2473   2 248 618,19   1 798 687,51     228 551,70     414 168,64
2474  47 531 853,01  33 270 276,50   6 106 154,29   5 730 583,01
2475  82 561 557,31  88 995 573,42  11 917 688,46  14 319 840,00
2476   5 959 323,59   8 089 321,97   1 880 100,00   1 880 000,00

           bib-2021 osob-2019 osob-2020 osob-2021  typ_gminy  wojweództwo
0      1 943 471,61    220,38    194,05    276,12          1            2
1              0,00    527,06    272,92    375,16          2            2
2              0,00    288,90    291,34    281,80          2            2
3        446 400,00    187,69    199,25    135,45          3            2
4        269 851,49    474,38    151,06    108,07          2            2
...             ...       ...       ...       ...        ...          ...
2472           0,00    466,35    183,33    199,54          3           32
2473     339 800,00    265,40    347,60    280,30          3           32
2474   6 212 229,84    252,96    445,07    314,77          1           32
2475  10 030 585,62    221,39    206,39    225,05          1           32
2476   1 980 000,00    212,86    148,09    201,92          1           32

[2477 rows x 14 columns]

## Upewnienie się, że zero wiodące jest w pliku.

In [22]:
import pandas as pd

# Load the CSV file into a DataFrame, set seprator and keep leading zero.
df = pd.read_csv("data.csv", sep=";",dtype={"kod": str})
column_name = "kod"
# Keep as string
df[column_name] = df[column_name].astype(str)

# Create a new column that contains the fir,t 6 digits of the "kod" column
df['first_six_digits'] = df['kod'].str[:6]
df['kod'] = df['kod'].str.zfill(7)
# Group the rows by the "first_six_digits" column and apply the "first" aggregation function
# to the other columns to combine their values
df = df.groupby(['first_six_digits'], as_index=False).first()

# Print the resulting DataFrame
print(df)

# Save the resulting DataFrame to a CSV file
df.to_csv('wyczyszczony_gus_teryt.csv', index=False)

     first_six_digits      kod             nazwa        og-2019  \
0              020101  0201011   Bolesławiec (1)   8 562 213,65
1              020102  0201022   Bolesławiec (2)   7 716 716,47
2              020103  0201032      Gromadka (2)   1 547 047,35
3              020104  0201043  Nowogrodziec (3)   2 855 493,33
4              020105  0201052    Osiecznica (2)   3 508 491,06
...               ...      ...               ...            ...
2472           321804  3218043         Resko (3)   3 739 669,74
2473           321805  3218053     Węgorzyno (3)   1 849 870,09
2474           326101  3261011      Koszalin (1)  27 123 909,65
2475           326201  3262011      Szczecin (1)  89 013 307,27
2476           326301  3263011   Świnoujście (1)   8 702 225,66

            og-2020        og-2021       bib-2019       bib-2020  \
0      7 352 370,02  10 342 327,41   1 946 230,00   2 059 879,00
1      4 061 592,75   5 666 783,27           0,00           0,00
2      1 507 996,70   1 445 658,97           0,00           0,00
3      2 953 892,10   2 009 424,41     344 000,00     497 000,00
4      1 123 001,82     792 804,20     330 000,00     290 000,00
...             ...            ...            ...            ...
2472   1 379 752,27   1 481 552,68           0,00           0,00
2473   2 248 618,19   1 798 687,51     228 551,70     414 168,64
2474  47 531 853,01  33 270 276,50   6 106 154,29   5 730 583,01
2475  82 561 557,31  88 995 573,42  11 917 688,46  14 319 840,00
2476   5 959 323,59   8 089 321,97   1 880 100,00   1 880 000,00

           bib-2021 osob-2019 osob-2020 osob-2021  typ_gminy  wojweództwo
0      1 943 471,61    220,38    194,05    276,12          1            2
1              0,00    527,06    272,92    375,16          2            2
2              0,00    288,90    291,34    281,80          2            2
3        446 400,00    187,69    199,25    135,45          3            2
4        269 851,49    474,38    151,06    108,07          2            2
...             ...       ...       ...       ...        ...          ...
2472           0,00    466,35    183,33    199,54          3           32
2473     339 800,00    265,40    347,60    280,30          3           32
2474   6 212 229,84    252,96    445,07    314,77          1           32
2475  10 030 585,62    221,39    206,39    225,05          1           32
2476   1 980 000,00    212,86    148,09    201,92          1           32

[2477 rows x 14 columns]